<div class="header">
  <h1>Welcome to Bird of the Year 2019</h1>
</div>

<div class="container">
  {{#each birds}}
  <article class="birdcard">
    <a href="birdProfile/{{bird_id}}" ><img src="/images/{{image}}"a
    lt="picture of a bird"></a>
    <h4>Votes: {{votes}}</h4>
  </article>
  {{/each}}
</div>


</div>

