<div class="header">
  <h1>Welcome to Bird of the Year 2019</h1>
</div>

<div class="container">
  <div class="row row-eq-height">
    {{#each birds}}
    <div class="col-sm-3 mb-3">
    <article class="card birdcard">
      <a href="birdProfile/{{bird_id}}" ><img src="/images/{{image}}"a
      lt="picture of a bird"></a>
      <div class="votes">
        <h4>Votes: {{votes}}</h4>
      </div>
    </article>
    </div>
    {{/each}}
    </div>
</div>


</div>

