<section class="leaderboard" class="header">
  <div>
    <h1>Leaderboard</h1>
  </div>

<div class="card leaderboardCard">
  <ol>
    {{#each birds}}
    <li>{{bird_name}}: {{votes}}</li>
    
    {{/each}}
  </ol>
</div>
</section>
