<section  class="leaderboard">
   <div class="header">
      <h1>Voters</h1>
   </div>

   <div class="card leaderboardCard">
      {{#each voter}}
      <h2>Name: {{voter_name}}</h2>
      <p>
      <strong>Voted for:</strong> {{voter_bird_id}}
      </p>
      <p>
         <strong>Reason:</strong> {{quote}}
      </p>
      <p>---</p>
      {{/each}}
       
         
   </div>
</section>b