<section  class="leaderboard">
   <div class="card leaderboardCard">
      {{!-- {{#each voter}}
      <h1>Name: {{voter_name}}</h1>
      <p>
      Voted for: {{bird_Id}}
      </p>
      <p>
         Reason: {{quote}}
      </p>
      {{/each}} --}}
      <div>
         <h4>Name: Bas</h4>
         <p>
         Voted for: Seagull
         </p>
         <p>
            Reason: Gary was the best man at my wedding.
         </p>
      <div>
         <div>
         <h4>Name: Bas</h4>
         <p>
         Voted for: Seagull
         </p>
         <p>
            Reason: Gary was the best man at my wedding.
         </p>
      <div>
         <div>
         <h4>Name: Bas</h4>
         <p>
         Voted for: Seagull
         </p>
         <p>
            Reason: Gary was the best man at my wedding.
         </p>
      <div>
         <div>
         <h4>Name: Bas</h4>
         <p>
         Voted for: Seagull
         </p>
         <p>
            Reason: Gary was the best man at my wedding.
         </p>
      <div>
      <div>
         <h4>Name: Bas</h4>
         <p>
         Voted for: Seagull
         </p>
         <p>
            Reason: Gary was the best man at my wedding.
         </p>
      <div>
      
         
   </div>
</section>